<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="com.codeaffine.extras.launch.internal.dialog.OpenLaunchDialogHander"
            description="Open the &apos;Start Launch Configuration&apos; Dialog"
            id="com.codeaffine.extras.launch.internal.OpenLaunchDialogCommand"
            name="Open Launch Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.codeaffine.extras.launch.internal.OpenLaunchDialogCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F11">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.codeaffine.extras.launch.internal.LaunchExtrasStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.LaunchingPreferencePage"
            class="com.codeaffine.extras.launch.internal.cleanup.CleanupPreferencePage"
            id="com.codeaffine.extras.launch.internal.cleanup.CleanupPreferencePage"
            name="Clean Up">
         <keywordReference
               id="org.eclipse.debug.ui.launching">
         </keywordReference>
         <keywordReference
               id="org.eclipse.debug.ui.contextLaunching">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.run?endof=relaunchGroup">
         <command
               commandId="com.codeaffine.extras.launch.internal.OpenLaunchDialogCommand"
               icon="icons/etool16/start-launch-configuration.gif"
               id="com.codeaffine.extras.launch.internal.StartLaunchConfigMenuItem"
               label="Start Launch Configuration..."
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
