<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="com.codeaffine.extras.ide.internal.openwith.OpenWithQuickMenuHandler"
            description="Show the &apos;Open With...&apos; quick menu"
            id="com.codeaffine.extras.ide.internal.OpenWithQuickMenu"
            name="Open With">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="com.codeaffine.extras.ide.internal.delete.DeleteEditorFileHandler"
            description="Delete the File currently opened in the active Editor"
            id="com.codeaffine.extras.ide.internal.DeleteEditorFileCommand"
            name="Delete File in Editor">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.codeaffine.extras.ide.internal.closeview.CloseViewHandler"
            description="Close the currently active view"
            id="com.codeaffine.extras.ide.internal.CloseViewCommand"
            name="Close View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.codeaffine.extras.ide.internal.OpenWithQuickMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
      <key
            commandId="com.codeaffine.extras.ide.internal.DeleteEditorFileCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+Del">
      </key>
      <key
            commandId="com.codeaffine.extras.ide.internal.CloseViewCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+Q">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            description="Working Set containing all projects that match a specified pattern"
            elementAdapterClass="com.codeaffine.extras.ide.internal.workingset.DynamicWorkingSetElementAdapter"
            icon="icons/obj16/working-set.png"
            id="com.codeaffine.extras.ide.internal.DynamicWorkingSet"
            name="Dynamic Project Working Set"
            pageClass="com.codeaffine.extras.ide.internal.workingset.DynamicWorkingSetPage"
            updaterClass="com.codeaffine.extras.ide.internal.workingset.DynamicWorkingSetUpdater">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.codeaffine.extras.ide.internal.NewWorkingSetWizardKeyword"
            label="Working Set">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ui.Basic"
            class="com.codeaffine.extras.ide.internal.workingset.DynamicWorkingSetWizard"
            hasPages="true"
            icon="icons/etool16/new-working-set.gif"
            id="com.codeaffine.extras.ide.internal.DynamicWorkingSetWizard"
            name="Dynamic Project Working Set">
         <description>
            Creates a dynamic project working set
         </description>
         <keywordReference
               id="com.codeaffine.extras.ide.internal.NewWorkingSetWizardKeyword">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.codeaffine.extras.ide.internal.workingset.DynamicWorkingSetStartup">
      </startup>
   </extension>
</plugin>
