<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            description="Working Set containing all projects that match a specified pattern"
            elementAdapterClass="com.codeaffine.extras.workingset.internal.DynamicWorkingSetElementAdapter"
            icon="$nl$/icons/obj16/working-set.png"
            id="com.codeaffine.extras.ide.internal.DynamicWorkingSet"
            name="Dynamic Project Working Set"
            pageClass="com.codeaffine.extras.workingset.internal.DynamicWorkingSetPage"
            updaterClass="com.codeaffine.extras.workingset.internal.DynamicWorkingSetUpdater">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.codeaffine.extras.ide.internal.NewWorkingSetWizardKeyword"
            label="Working Set">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.ui.Basic"
            class="com.codeaffine.extras.workingset.internal.DynamicWorkingSetWizard"
            hasPages="true"
            icon="$nl$/icons/etool16/new-working-set.gif"
            id="com.codeaffine.extras.ide.internal.DynamicWorkingSetWizard"
            name="Dynamic Project Working Set">
         <description>
            Creates a dynamic project working set
         </description>
         <keywordReference
               id="com.codeaffine.extras.ide.internal.NewWorkingSetWizardKeyword">
         </keywordReference>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.codeaffine.extras.workingset.internal.DynamicWorkingSetStartup">
      </startup>
   </extension>
</plugin>
