<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.views.showView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q U">
         <parameter
               id="org.eclipse.ui.views.showView.viewId"
               value="org.eclipse.jdt.junit.ResultView">
         </parameter>
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+Q U">
      </key>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.trim.status">
        <toolbar
            id="com.codeaffine.extras.jdt.internal.JUnitStatusToolBar"
            label="JUnit">
            <control
                class="com.codeaffine.extras.jdt.internal.junitstatus.JUnitStatusContributionItem"
                id="com.codeaffine.extras.jdt.internal.JUnitStatusContributionItem">
            </control>
        </toolbar>
     </menuContribution>
  </extension>
</plugin>
