<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="com.codeaffine.extras.platform.internal.openwith.OpenWithQuickMenuHandler"
            description="Show the &apos;Open With...&apos; quick menu"
            id="com.codeaffine.extras.platform.internal.OpenWithQuickMenu"
            name="Open With">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="com.codeaffine.extras.platform.internal.delete.DeleteEditorFileHandler"
            description="Delete the File currently opened in the active Editor"
            id="com.codeaffine.extras.platform.internal.DeleteEditorFileCommand"
            name="Delete File in Editor">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="com.codeaffine.extras.platform.internal.launch.LaunchHandler"
            description="Open the &apos;Start Launch Configuration&apos; Dialog"
            id="com.codeaffine.extras.platform.internal.LaunchCommand"
            name="Open Launch Dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.codeaffine.extras.platform.internal.OpenWithQuickMenu"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
      <key
            commandId="com.codeaffine.extras.platform.internal.DeleteEditorFileCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+Del">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+Del">
      </key>
      <key
            commandId="com.codeaffine.extras.platform.internal.LaunchCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F11">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F11">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="icons/elcl16/workbench-appearance-prefs.png"
            id="com.codeaffine.extras.platform.internal.WorkbenchAppearanceTransfer"
            name="Workbench Appearance Preferences">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.ui">
               <key
                     name="ENABLE_ANIMATIONS">
               </key>
               <key
                     name="SHOW_TRADITIONAL_STYLE_TABS">
               </key>
               <key
                     name="SHOW_OTHER_IN_PERSPECTIVE_MENU">
               </key>
               <key
                     name="SHOW_OPEN_ON_PERSPECTIVE_BAR">
               </key>
               <key
                     name="SHOW_TEXT_ON_PERSPECTIVE_BAR">
               </key>
               <key
                     name="USE_COLORED_LABELS">
               </key>
               <key
                     name="EDITOR_MINIMUM_CHARACTERS">
               </key>
               <key
                     name="VIEW_MINIMUM_CHARACTERS">
               </key>
               <key
                     name="SHOW_MEMORY_MONITOR">
               </key>
               <key
                     name="SHOW_FILTERED_TEXTS">
               </key>
               <key
                     name="ENABLE_DETACHED_VIEWS">
               </key>
               <key
                     name="CURRENT_THEME_ID">
               </key>
               <key
                     name="MULTI_KEY_ASSIST">
               </key>
               <key
                     name="perspectiveBarVisible">
               </key>
               <key
                     name="coolBarVisible">
               </key>
               <key
                     name="showIntro">
               </key></entry>
            <entry
                  node="org.eclipse.ui.workbench">
               <key
                     name="RECENT_FILES">
               </key>
               <key
                     name="RUN_IN_BACKGROUND">
               </key>
               <key
                     name="ENABLED_DECORATORS">
               </key>
               <key
                     name="FVB_HIDE">
               </key>
               <key
                     name="OPEN_ON_SINGLE_CLICK">
               </key>
               <key
                     name="OPEN_AFTER_DELAY">
               </key>
               <key
                     name="SELECT_ON_HOVER">
               </key>
               <key
                     name="STICKY_CYCLE">
               </key>
               <key
                     name="OPEN_PERSPECTIVE_MODE">
               </key>
            </entry>
            <entry
                  node="org.eclipse.ui.ide">
               <key
                     name="SWITCH_PERSPECTIVE_ON_PROJECT_CREATION">
               </key>
            </entry>
         </mapping>
         <description>
            Preferences related to the appearance of the elements of the workbench window like tool bar, perspective bar, editors, views.
         </description>
      </transfer>
      <transfer
            icon="icons/elcl16/workspace-prefs.gif"
            id="com.codeaffine.extras.platform.internal.WorkspaceTransfer"
            name="Workspace Preferences">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.core.resources">
               <key
                     name="description.snapshotinterval">
               </key>
               <key
                     name="description.autobuilding">
               </key>
               <key
                     name="encoding">
               </key>
               <key
                     name="refresh.lightweight.enabled">
               </key>
               <key
                     name="refresh.enabled">
               </key>
               <key
                     name="description.applyfilestatepolicy">
               </key>
               <key
                     name="description.filestatelongevity">
               </key>
               <key
                     name="description.maxfilestates">
               </key>
               <key
                     name="description.maxfilestatesize">
               </key>
               <key
                     name="description.disableLinking">
               </key>
            </entry>
            <entry
                  node="org.eclipse.core.runtime">
               <key
                     name="line.separator">
               </key>
            </entry>
            <entry
                  node="org.eclipse.ui.ide">
               <key
                     name="CLOSE_UNRELATED_PROJECTS">
               </key>
               <key
                     name="SAVE_ALL_BEFORE_BUILD">
               </key>
               <key
                     name="OPEN_REQUIRED_PROJECTS">
               </key>
               <key
                     name="IMPORT_FILES_AND_FOLDERS_MODE">
               </key>
               <key
                     name="IMPORT_FILES_AND_FOLDERS_VIRTUAL_FOLDER_MODE">
               </key>
            </entry>
         </mapping>
         <description>
            General > Workspace
         </description>
      </transfer>
      <transfer
            icon="icons/elcl16/editor-prefs.png"
            id="com.codeaffine.extras.platform.internal.EditorTransfer"
            name="General Editor Preferences">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.ui">
               <key
                     name="DISABLE_OPEN_EDITOR_IN_PLACE">
               </key>
               <key
                     name="PROMPT_WHEN_SAVEABLE_STILL_OPEN">
               </key>
            </entry>
            <entry
                  node="org.eclipse.ui.workbench">
               <key
                     name="RECENT_FILES">
               </key>
               <key
                     name="REUSE_OPEN_EDITORS_BOOLEAN">
               </key>
               <key
                     name="REUSE_OPEN_EDITORS">
               </key>
               <key
                     name="REUSE_DIRTY_EDITORS">
               </key>
               <key
                     name="USE_IPERSISTABLE_EDITORS">
               </key>
            </entry>
         </mapping>
         <description>
            General > Editors
         </description>
      </transfer>
      <transfer
            icon="icons/elcl16/text-editor-prefs.png"
            id="com.codeaffine.extras.platform.internal.TextEditorTransfer"
            name="Text Editors Preferences">
         <mapping scope="instance">
           <entry node="org.eclipse.ui.editors">
              <key name="quickdiff.quickDiff">
              </key>
              <key name="printMargin">
              </key>
              <key name="printMarginColumn">
              </key>
              <key name="tabWidth">
              </key>
              <key name="currentLine">
              </key>
              <key name="spacesForTabs">
              </key>
              <key name="lineNumberRuler">
              </key>
              <key name="show_range_indicator">
              </key>
              <key name="showTextHoverAffordance">
              </key>
              <key
                    name="spellingEnabled">
              </key>
              <key
                    match="prefix"
                    name="quickdiff.">
              </key>
              <key
                    name="deletionIndicationInOverviewRuler">
              </key>
           </entry>
           <entry node="org.eclipse.ui.editors">
              <key name="showWhitespaceCharacters"></key>
              <key name="showCarriageReturn"></key>
              <key name="showLineFeed"></key>
              <key name="showLeadingIdeographicSpaces"></key>
              <key name="showLeadingSpaces"></key>
              <key name="showLeadingTabs"></key>
              <key name="showEnclosedIdeographicSpaces"></key>
              <key name="showEnclosedSpaces"></key>
              <key name="showEnclosedTabs"></key>
              <key name="showTrailingIdeographicSpaces"></key>
              <key name="showTrailingSpaces"></key>
              <key name="showTrailingTabs"></key>
              <key name="whitespaceCharacterAlphaValue"></key>
           </entry>
           <entry
                 node="org.eclipse.ui.workbench">
              <key
                    name="org.eclipse.jface.textfont">
              </key>
              <key
                    name="org.eclipse.ui.workbench.texteditor.blockSelectionModeFont">
              </key>
           </entry>
         </mapping>
         <description>
            General &gt; Editors &gt; Text Editors, Spelling, Quick Diff
         </description>
      </transfer>
      <transfer
            icon="icons/elcl16/search-prefs.png"
            id="com.codeaffine.extras.platform.internal.SearchTransfer"
            name="Search Preferences">
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.search">
               <key
                     match="prefix"
                     name="org.eclipse.search.">
               </key>
            </entry>
         </mapping>
         <description>
            General > Search
         </description>
      </transfer>
   </extension>
</plugin>
